
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    overflow: hidden;
}


#wallpaper {
    background: url('/pexels.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    position: absolute;
    left: 10px;
}


.modal {
    background-color: #c8c8c2;
    border: 1px solid #888;
    width: 600px; 
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.modal-header {
    background-color: #0078d4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    position: absolute;
    left: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.center-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}


.modal-content {
    justify-content: center;
    padding: 20px;
    text-align: center;
    position: relative; 
}


.button-container {
    position: absolute;
    top: 280px;
    right: 20px;
    display: flex;
    gap: 10px;
}


.close {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close:hover{
     color: #0078d4;
}


.btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: left 0.25s, top 0.25s;
    border: 1px solid #888;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.yes-btn {
    background-color: #4CAF50;
    color: white;
}

.no-btn {
    background-color: #f44336;
    color: white;
}
